@model TotallyNotRobots.Movies.Web.Models.MovieDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        @*Markup omitted for clarity.*@
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Movie.Rating)
        </dd>

    </dl>

    <h3>Reviews</h3>
    @foreach (var review in Model.Reviews)
    {
    <p>
        @Model.Clean(review.Comments)
        @Html.RouteLink("Delete", "DeleteReview", new { movieID = Model.Movie.ID, reviewID = review.ID }, new { @class = "btn btn-xs btn-default text-danger delete-button" })
    </p>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Movie.ID }, new { @class = "btn btn-warning" })
    @Html.RouteLink("Review", "NewReview", new { movieID = Model.Movie.ID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
